*{
    padding: auto;
    margin:auto;
}
.login-view {
  height: 500px;
  background-color: #ececec;
  margin-top: 2em;
  font-size: 30px;
}
.login-view_row{
  border: solid #000 1px;
}

.login-body {
  height: 457px;

}
.login-body form {
  text-align: center;
  padding: auto;
  width: 50%;
  padding: 10px;
  height: 15em;
}
.login-body form label,
.login-body form input{
  margin: 20px;
  display: inline-block;
  
}
.button{
  background-color: #00a8ff;
  color: #f5f6fa;
}
.button:hover{
   transition-duration: 1s;
  background-color: #f5f6fa;
  color: #000;
  cursor: pointer;
}